@use "styles/abstracts/mixins" as *;
.title {
  @include header_2;
  margin-bottom: 48px;
}

.wrapper {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.description__title {
  @include header_4;
}

.text {
  @include paragraph_1;
  max-width: 392px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 17px;
}

.container {
  display: flex;
}
