@mixin media-desctop {
  @media (max-width: 1980px) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin media-tablet-large {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: 465px) {
    @content;
  }
}

@mixin media-mobile-small {
  @media (max-width: 374px) {
    @content;
  }
}

//   @ --inter-font --clash-display

@mixin inter(
  $ff: var(--inter-font),
  $fs: 1.6rem,
  $fw: 600,
  $lh: 1.2,
  $color: var(--clean)
) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  color: $color;
}

@mixin clash(
  $ff: var(--clean),
  $fs: 1.6rem,
  $fw: 600,
  $lh: 1.2,
  $color: var(--secundary-light)
) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  color: $color;
}

@mixin text {
  font-family: var(--inter-font);
  font-size: 46px;
  font-weight: 600;
  line-height: 69px;
}

@mixin header_1 {
  font-family: var(--clash-display);
  font-size: 150px;
  font-weight: 600;
  line-height: 180px;
}

@mixin header_2 {
  font-family: var(--clash-display);
  font-size: 72px;
  font-weight: 600;
  line-height: 86.4px;
}

@mixin header_3 {
  font-family: var(--clash-display);
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
}

@mixin header_4 {
  font-family: var(--clash-display);
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
}

@mixin paragraph_1 {
  font-family: var(--inter-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4 px;
}

@mixin paragraph_2 {
  font-family: var(--inter-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}
