@use "styles/abstracts/mixins" as *;
.wrapper {
  width: 100%;
  margin-bottom: 189px;
}

.background {
  position: absolute;
  width: 100%;
  height: 815px;
  z-index: -3;
  left: 0px;
  top: 0px;
  object-fit: cover;

  &__gradient {
    position: absolute;
    width: 100%;
    height: 815px;
    top: 0;
    left: 0;
    box-shadow: linear-gradient(
      180deg,
      rgba(12, 16, 45, 0) -4.71%,
      #0c102d 97.38%
    );
  }
}

.background__container::before {
  position: absolute;
  width: 100%;
  height: 382px;
  z-index: -2;
  left: 0px;
  top: 433px;
  background: linear-gradient(
    180deg,
    rgba(12, 16, 45, 0) -4.71%,
    #0c102d 97.38%
  );
  content: "";
  pointer-events: none;
}

.title {
  @include header_1;
}

.subtitle {
  @include paragraph_1;
}

.title__top {
  display: flex;
  gap: 0 57px;
  align-items: center;
  margin-top: 125px;
}

.subtitle {
  max-width: 359px;
}

.title__botton {
  display: flex;
  gap: 0 24px;
  align-items: center;
}

.subtitle__bottom {
  text-align: right;
  @include header_3;
  margin-right: 40px;
}
