.intro {
  width: 100%;
  height: 100vh;
}

.background {
  position: absolute;
  width: 100%;
  height: 815px;
  z-index: -3;
  left: 0px;
  top: 0px;
  object-fit: cover;
  &__gradient {
    position: absolute;
    width: 100%;
    height: 815px;
    top: 0;
    left: 0;
    box-shadow: linear-gradient(
      180deg,
      rgba(12, 16, 45, 0) -4.71%,
      #0c102d 97.38%
    );
  }
}

.background__container::before {
  position: absolute;
  width: 1920px;
  height: 382px;
  z-index: -2;
  left: 0px;
  top: 433px;
  background: linear-gradient(
    180deg,
    rgba(12, 16, 45, 0) -4.71%,
    #0c102d 97.38%
  );
  content: "";
  pointer-events: none;
}
